defmodule <%= @module %> do
  <%= unless @module_doc? do %>
  @moduledoc false
  <% end %>
  use Protobuf, <%= @use_options %>

  <%= if @descriptor_fun_body do %>
  def descriptor do
    # credo:disable-for-next-line
    <%= @descriptor_fun_body %>
  end
  <% end %>

  <%= for %Google.Protobuf.EnumValueDescriptorProto{name: name, number: number} <- @fields do %>
  field :<%= name %>, <%= number %><% end %>
end
