defmodule <%= name %> do
  @moduledoc false

  use Protobuf<%= options %>

  <%= typespec %>
  defstruct [<%= struct_fields %>]

  def descriptor do
    bin_desc =
      <%= desc.__struct__.encode(desc |> Map.from_struct() |> Enum.filter(fn {_, x} -> x != nil end) |> desc.__struct__.new()) |> inspect(limit: :infinity) %>

    <%= desc.__struct__ %>.decode(bin_desc)
  end

<%= for v <- oneofs do %>  <%= v %>
<% end %><%= for f <- fields do %>  field <%= f %>
<% end %>
end
