defmodule <%= name %> do
  @moduledoc false
  use Protobuf<%= options %>

  <%= typespec %>
  defstruct [<%= struct_fields %>]

<%= for v <- oneofs do %>  <%= v %>
<% end %><%= for f <- fields do %>  field <%= f %>
<% end %>
end
