name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test (Elixir ${{matrix.elixir}} | Erlang/OTP ${{matrix.otp}})
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp: 24.0
            elixir: 1.12.3
            lint: true
            integration: true
          - otp: 23.3
            elixir: 1.11.4
          - otp: 23.3
            elixir: 1.10.4
          - otp: 22.3
            elixir: 1.9.4

    env:
      MIX_ENV: test

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v2

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.17.3'
          repo-token: ${{ secrets.GITHUB_TOKEN }} # to avoid rate limiting

      - name: Install OTP and Elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}

      - name: Install dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: mix deps.get

      - name: Check for unused dependencies
        run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - name: Compile with --warnings-as-errors
        run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - name: Check mix format
        run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - name: Run tests
        run: mix test

      - name: Compile .proto files to Elixir with protoc
        if: ${{ matrix.integration }}
        env:
          PROTO_BENCH: ./deps/google_protobuf/benchmarks
        run: |
          mix gen_test_protos
          mix gen_bootstrap_protos
          mix gen_bench_protos

      - name: Run integration tests
        if: ${{ matrix.integration }}
        run: mix test --only integration

      - name: Check that generated files did not change
        if: ${{ matrix.integration }}
        run: |
          rm -rf ./google_protobuf
          if [[ -n "$(git status -uno --porcelain)" ]]; then
            echo "Changes to the code seem to change the generated .pb.ex files."
            echo "Make sure to run these tasks before merging:"
            echo ""
            echo "  mix gen_bootstrap_protos"
            echo "  mix gen_test_protos"
            echo "  mix gen_bench_protos"
            echo ""
            echo "This is the git diff:"
            git diff
            exit 1
          else
            echo "Generated .pb.ex are up to date"
          fi

  conformance-test:
    name: Conformance test (Elixir ${{matrix.elixir}} | Erlang/OTP ${{matrix.otp}})
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        otp: [24.0]
        elixir: [1.12.3]

    env:
      MIX_ENV: test

    steps:
      - uses: actions/checkout@v2

      - name: Update and install dependencies to build protoc locally
        # Dependencies from https://github.com/protocolbuffers/protobuf/blob/master/src/README.md
        run: sudo apt-get update && sudo apt-get install -y git autoconf automake libtool curl make g++ unzip jq

      - name: Install OTP and Elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}

      # - name: Cache dependencies
      #   id: cache-deps
      #   uses: actions/cache@v2
      #   with:
      #     path: deps/google_protobuf
      #     key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}

      - name: Install dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: mix deps.get

      - name: Build protoc and the conformance runner from the local Protobuf dependency
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: mix build_conformance_runner

      - name: Add local protoc to $GITHUB_PATH
        run: |
          echo "$PWD/deps/google_protobuf/src" >> $GITHUB_PATH
          echo "Using local protoc: $(protoc --version)"

      - name: Test
        run: ./deps/google_protobuf/conformance/conformance-test-runner --help

      - name: Run conformance tests
        run: mix conformance_test
