name: CI

on: [push, pull_request]

jobs:
  test:
    name: Test (Elixir ${{matrix.elixir}} | Erlang/OTP ${{matrix.otp}})
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp: 24.0
            elixir: 1.12.1
            lint: true
            integration: true
          - otp: 23.3
            elixir: 1.11.4
          - otp: 23.3
            elixir: 1.10.4
          - otp: 22.3
            elixir: 1.9.4
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v2

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.17.3'
          repo-token: ${{ secrets.GITHUB_TOKEN }} # to avoid rate limiting

      - name: Install OTP and Elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Install dependencies
        run: mix deps.get --only test

      - name: Check for unused dependencies
        run: mix deps.get && mix deps.unlock --check-unused
        if: ${{matrix.lint}}

      - name: Compile with --warnings-as-errors
        run: mix compile --warnings-as-errors
        if: ${{matrix.lint}}

      - name: Check mix format
        run: mix format --check-formatted
        if: ${{matrix.lint}}

      - name: Run tests
        run: mix test --trace

      - name: Clone Google's Protobuf schemas
        uses: actions/checkout@v2
        with:
          repository: google/protobuf
          path: google_protobuf
        if: ${{matrix.integration}}

      - name: Compile .proto files to Elixir with protoc and make sure they did not change
        if: ${{matrix.integration}}
        env:
          PROTO_LIB: ./google_protobuf/src/google/protobuf
          PROTO_BENCH: ./google_protobuf/benchmarks
        run: |
          mix gen_test_protos
          mix gen_google_protos
          mix gen_bench_protos

      - name: Run integration tests
        if: ${{matrix.integration}}
        run: mix test --only integration

      - name: Check that generated files did not change
        if: ${{matrix.integration}}
        run: |
          git status
